@model SklepInternetowy.Areas.Admin.Models.OrderModel

@{
    ViewBag.Title = "Szczegóły zamówienia numer " + Model.OrderId;
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-bar-chart-o"></i>
                @ViewBag.Title
            </h3>
        </div>
        <div class="panel-body">
            <div id="table-responsive" style="position: relative">
                <table class="table table-bordered table-hover tablesorter text-center">
                    <tr>
                        <th class="header" style="text-align: center">
                            Imię i nazwisko
                        </th>
                        <td>@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <th class="header" style="text-align: center">
                            Kontakt
                        </th>
                        <td><a href="@Model.Email">@Model.Email</a></td>
                    </tr>
                    <tr>
                        <th class="header" style="text-align: center">
                            Adres dostawy
                        </th>
                        <td>@Model.DeliveryAddress</td>
                    </tr>
                    <tr>
                        <th class="header" style="text-align: center">
                            Data zamówienia
                        </th>
                        <td>@Model.OrderDate</td>
                    </tr>
                    <tr>
                        <th class="header" style="text-align: center">
                            Status zamówienia
                        </th>
                        <td>@Model.OrderState</td>
                    </tr>
                    <tr>
                        <th class="header" style="text-align: center">
                            Całkowity koszt zamówienia
                        </th>
                        <td>@Model.SummaryPrice.ToString("c")</td>
                    </tr>
                </table>

                <table class="table table-bordered table-hover tablesorter text-center">
                    <thead>
                    <tr>
                        <th class="header">
                            Produkt
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="header">
                            Ilość
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="header">
                            Cena jednostkowa
                        </th>
                        <th class="header">
                            Suma
                        </th>
                    </tr>
                    </thead>
                    @foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.UnitPrice.ToString("c")</td>
                            <td>
                                @{ string total = (item.Quantity*item.UnitPrice).ToString("c"); }
                                @total
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>