@using PagedList.Mvc
@model PagedList.IPagedList<DataAccess.Entities.Products>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            @Html.Partial("SideBar")
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Strona główna</a> <span class="divider">/</span></li>
                    <li class="active">
                        @if (ViewBag.ManufacturerName != null)
                        {
                            @ViewBag.ManufacturerName
                        }
                    </li>
                </ul>

                <hr />
                <div id="sortManufacturerForm">
                    @using (Ajax.BeginForm("Manufacturer", "Product",
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "productListing"
                        }))
                    {
                        <form class="form-horizontal span9">
                            <div class="control-group">
                                <table>
                                    <tr>
                                        <td>Sortuj według</td>
                                        <tr>
                                            <td align="center">@Html.DropDownList("SortOption", (SelectList)ViewData["SearchOptions"])</td>
                                        </tr>
                                        <td><button type="submit" id="submitButton" class="btn btn-primary ">Sortuj</button></td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    }

                    <div id="productListing">
                        @if (Model.Count > 0)
                        {
                            @Html.Partial("_ProductListing", Model)
                        }
                        else
                        {
                            @:  <h2>Obecnie brak produktów wybranego producenta</h2>
                        }
                    </div>


                    <div class="pagination pagination-centered">
                        <ul>
                            <li>
                                @Html.PagedListPager(Model, page => Url.Action("Search", new { page, @category = @Model.First().Category.ID }))
                            </li>
                        </ul>
                    </div>
                    <br class="clr" />
                </div>
                <div id="message"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#message").hide();
        var itemCount = '@Model.Count';
        var manufacturer = '@ViewBag.ManufacturerName';
        if (itemCount <= 0) {
            $("#sortManufacturerForm").hide();
            $("#message").show();
            var message = "Obecnie brak produktów producenta " + manufacturer;
            $("#message").html("<h2>" + message + "</h2>");
        } else {
            $("#message").hide();
            $("#sortManufacturerForm").show();
        }
    });
</script>