@using PagedList.Mvc
@model PagedList.IPagedList<DataAccess.Entities.Products>

@{
    ViewBag.Title = "Znalezione produkty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            @Html.Partial("SideBar")

            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("index", "home")">Strona główna</a> <span class="divider">/</span></li>
                    <li>@ViewBag.Title<span class="divider"></span></li>
                </ul>
                
                    <hr />
                    @if (Model.Count > 0)
                    {
                        using (Ajax.BeginForm("Search", "Product", new {category = @Model.First().Category.ID, search = ViewBag.Search},
                             new AjaxOptions
                             {
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 UpdateTargetId = "productListing"
                             }))
                         {
                             <form class="form-horizontal span9">
                                 <div class="control-group">
                                     <table>
                                         <tr>
                                             <td>Sortuj według</td>
                                         <tr>
                                             <td align="center">@Html.DropDownList("SortOption", (SelectList)ViewData["SearchOptions"])</td>
                                         </tr>
                                             <td><button type="submit" id="submitButton" class="btn btn-primary ">Sortuj</button></td>
                                         </tr>
                                     </table>
                                 </div>
                             </form>
                         }
                    }
                    else
                    {
                                <h4><p>Nie znaleziono produktów spełniających twoje kryteria.</p></h4>
                    }

                    <div id="productListing">
                        @Html.Partial("_ProductListing", Model)
                    </div>

                    <div class="pagination pagination-centered">
                        <ul>
                            <li>
                                @Html.PagedListPager(Model, page => Url.Action("Search", new {page, @category = @Model.First().Category.ID}))
                            </li>
                        </ul>
                    </div>
                    <br class="clr" />
            </div>

        </div>
    </div>
</div>