@model SklepInternetowy.Areas.Admin.Models.DeliveryTypeModel

@{
    ViewBag.Title = "Nowy sposób dostawy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (TempData["error"] != null)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @TempData["error"]
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-lg-12">
        <div class="pull-right" style="margin-bottom: 10px;">
            <a class="btn btn-default" href="@Url.Action("List")">Wróć do listy</a>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o"></i>
                    Nowy sposób dostawy
                </h3>
            </div>
            <div class="panel-body">
                <div id="main" style="position: relative">

                    @{ Html.BeginForm(); }
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    <font color="red"><strong> @Html.ValidationMessageFor(model => model.Name)</strong></font>
                                </td>
                                <td>
                                    <font color="red"><strong style="margin-left: 20px;"> @Html.ValidationMessageFor(model => model.Price)</strong></font>       
                                </td>
                            </tr>
                            <tr>
                                <td><label>Nazwa sposobu dostawy</label></td>
                                <td><label style="margin-left: 20px;">Cena</label></td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(x => x.Name, new { @class = "form-control input", style = "width: 450px;" })</td>
                                <td>@Html.TextBoxFor(x => x.Price, new { @class = "form-control input",style="margin-left: 20px;"})</td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <br/>
                            <input type="submit" class="btn btn-success" value="Dodaj" />
                        </div>
                        @{ Html.EndForm(); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>