@model IEnumerable<DataAccess.Entities.Orders>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AccountDetails.cshtml";
}

<div class="col-lg-6" style="margin-left: 15%;">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped tablesorter">
            <thead>
                <tr>
                    <th>Identyfikator<i class="fa fa-sort"></i></th>
                    <th>Data<i class="fa fa-sort"></i></th>
                    <th>Kwota<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Any())
                {
                    foreach(var item in Model)
                     {
                         <tr>
                             <td title="Szczegóły">@Html.ActionLink(@item.Id.ToString(),"OrderDetails","MyAccount",new {id = @item.Id, @style="margin-left: 50%;"})</td>
                             <td><p style="text-align: center">@item.OrderDate</p></td>
                             <td><p style="text-align: center">@item.SummaryPrice.ToString("F") zł</p></td>
                         </tr>
                     }
                }
            </tbody>
        </table>
    </div>
</div>
       
